
#colorwheel {
  margin:180px auto;
  position: relative;
  width: 640px;
  height: 640px;
}

span {
  cursor: pointer;
  position: absolute;
  top: 100px;
  left: 100px;
  width: 100px;
  height: 20px;
  -ms-transform-origin: -200px 50%;
  -webkit-transform-origin: -100px 50%;
  -moz-transform-origin: -100px 50%;
  -o-transform-origin: -100px 50%;
  transform-origin: -100px 50%;
  opacity: 0.1;
}

span:hover, span:active {
  opacity: 1;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}
